<html>
<head>
  <meta charset="UTF-8">
  <title>Customers</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@0,400;1,800&display=swap"
    rel="stylesheet">
  <style>
  </style>
</head>
</div>
    <br>
    <br>
    <h2>
      Customers Table
    </h2>
    <div>
<table>
    <thead>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
  </thead>
    <tbody>
        {{#each Customers}}
        <tr>
            <td>{{custId}}</td>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{street}}</td>
            <td>{{city}}</td>
            <td>{{state}}</td>
            <td><button onclick="deletePerson({{custId}})">Delete</button></td>
            <td><a href="/customers/{{custId}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
  <h3>Insert Customer</h3>
  <form id='addCustomer' action='/customers' method='post'>
      First Name: <input type='text' name='fName' required>
      Last Name: <input type='text' name='lName' required>
      Street: <input type='text' name='street' required>
      City: <input type='text' name='city' required>
      State: <input type='text' name='state' maxlength='2' required>
      <input type='submit' value='Insert New Customer'>
  </form>

  <h3>Filter Customers</h3>
  <form id='search_first' action='' method=''>
    <label> Search Customers For First Name Starting With:</label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value='' maxlength='1' required>
    <input type="button" value="Search" onclick="searchCustomersByFirstName()">
  </form>

  <form id='search_last' action='' method=''>
    <label> Search Customers For Last Name Starting With:</label>
    <input id='last_name_search_string' type='text' name='last_name_search_string' value='' maxlength='1' required>
    <input type="button" value="Search" onclick="searchCustomersByLastName()">
  </form>

</html>