<html>
<br>
<br>
<h2>
    Games Table
</h2>
<table>
    <thead>
        <th>Game Id</th>
        <th>Game Name</th>
        <th>Genre Name</th>
        <th>Platform Name</th>
    </thead>
    <tbody>
        {{#each Games}}
        <tr>
            <td>{{gameId}}</td>
            <td>{{gameName}}</td>
            <td>{{genreName}}</td>
            <td>{{platformName}}</td>
            <td><button onclick="deleteGame({{gameId}})">Delete</button></td>
            <td><a href="/games/{{gameId}}">Update</a></td>
            
        </tr>
        {{/each}}
    </tbody>
</table>


<h3>Insert Game</h3>
<form id='addGame' action='/games' method='post'>
    Game: <input type='text' name='gameName' required>
    Genre: <select id='genre' name="genreId"> 
                {{#each Genres}}
                <option value="{{id}}">{{genreName}}</option>
                {{/each}}
                </select>
    {{!-- <input type='text' name='genreId'> --}}
    Platform: <select id='platform' name="platformId"> 
                {{#each Platforms}}
                <option value="{{id}}">{{platformName}}</option>
                {{/each}}
                </select>
    {{!-- <input type='text' name='platformId'> --}}
    <input type='submit' value='Submit'>
</form>

{{!-- <h3>Filter Game</h3>
<form id='filterGame' action='' method=''>
    <label>name:</label>
        <input id='gameNameSearch' type='text' name='gameNameSearch'  value=''> --}}
    
    {{!-- <label>genre:</label>
        <input type='text' name='genreName' id = 'genreNameSearch' value = ''>      
    
    <label>platform:</label>
        <input type='text' name='platformName'> --}}
    
    {{!-- <input type="button" value="Submit" onclick="searchGameByName()">
</form> --}}

</html>
