<html>
<head>
  <meta charset="UTF-8">
  <title>Update Customer</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@0,400;1,800&display=swap"
    rel="stylesheet">
</head>
<h2>Update {{person.firstName}} {{person.lastName}}:</h2>
<form id="update-customer" action="/customers" method="post">
    First name: <input type="text" name="fname" value="{{person.firstName}}"><br>
    Last name: <input type="text" name="lname" value="{{person.lastName}}"><br>
    Street: <input type="text" name="street" value="{{person.street}}"><br>
    City: <input type="text" name="city" value="{{person.city}}"><br>
    State: <input type="text" name="state" value="{{person.state}}"><br>
</form>
<button onclick="updatePerson({{person.id}})">Update</button>
</html>